[mqtt]
server    = "tcp://server:1883"
client_id = "client_0"
publish_topic     = "telegraf/topic/here"
subscribe_topic   = "receive/topic/here"

qos       = 0

[sampling]
sample_period_seconds = 60
measurement_name      = "atmospheric"
tags                  = [["source","pzero"]]