[mqtt]
server    = "tcp://server:1883"
client_id = "client_0"
topic     = "telegraf/topic/here"
qos       = 0

[sensor]
sample_period_seconds = 60
measurement_name      = "atmospheric"
tags                  = [["source","pzero"]]